body {

    font-family: sans-serif;

    width: 100%;
    height: 100%;

    margin: 0;

}

#body {

    width: 100%;
    height: 100%;

    position: relative;
    background-image: url("../codigo/imagenes/background.png");
    background-repeat: no-repeat;
    background-size: 100%;

}

input {

    text-align: center;

}


/* ------------------------------------------ */

#panel {

    background-image: url(../codigo/imagenes/leon.jpg);
    background-size: 140%;
    background-repeat: no-repeat;

    height: 100%;
    width: 15%;

    position: absolute;

}

#stats {

    background-color: palegreen;
    position: absolute;

    right: 0;

    width: 15%;
    height: 100%;

}

#centerStats {

    width: auto;
    height: auto;

    margin-left: 15px;

}

#coord {

    text-align: center;
    position: absolute;

    top: 10%;
    margin-right: 10px;

    width: 100%;
    height: 5%;

}

#X {

    position: absolute;

    width: 50%;
    height: 55%;

}

#Y {

    position: absolute;

    left: 50%;

    width: 50%;
    height: 55%;

}

#botons {

    text-align: center;
    position: absolute;

    top: 15%;

    height: 10%;
    width: 100%;

}

#ins {

    position: absolute;

    top: 25%;

    width: 100%;
    height: 25%;

}

#abandona {

    position: absolute;

    top: 75%;

    width: 100%;
    height: 25%;
}
