#master {

    height: auto;
    width: auto;

    position: relative;

    display: table;

}

#createTable {

    position: absolute;
    left: 15%;


    width: 70%;
    height: 100%;

}


.row {

    height: auto;

    width: auto;
    clear: both;


}


/*CELLS*/

.small_cell, .medium_cell, .large_cell, .XS_cell {

    /*background-color: rgba(0, 0, 0, 0.9);*/
    text-align: center;

    float: left;
    display: table-column;

    cursor: pointer;

}

.large_cell {

    width: 100px;
    height: 100px;

    margin-left: 10px;
    margin-top: 10px;

}

.large_cell img{

    width: 100px;
    height: 100px;

}

.medium_cell {


    width: 75px;
    height: 75px;

    margin-left: 7px;
    margin-top: 7px;

}

.medium_cell img {

    width: 75px;
    height: 75px;

}

.small_cell {


    width: 50px;
    height: 50px;

    margin-left: 5px;
    margin-top: 5px;

}

.XS_cell {


    width: 40px;
    height: 40px;

    margin-left: 5px;
    margin-top: 5px;

}

.XS_cell img {

    width: 40px;
    height: auto;

}

.L_cont_cell {

    width: 100%;
    height: 100%;

    margin: 0;

}

.M_cont_cell {

    width: 100%;
    height: 100%;

    margin: 0;

}

.S_cont_cell {

    width: 100%;
    height: 100%;

    margin: 0;

}

.XS_cont_cell {

    width: 100%;
    height: 100%;

    margin: 0;

}


.center {

    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

	margin: auto;

}
